<!DOCTYPE html>

<style>
    body {
        color: white;
    }

    #container { margin: 0 -10px; padding: 20px; background-color: rgba(0, 0, 0, 0.75); font-family:sans-serif;}

    h1 {
        font-size: 1em;
    }

    #header {
        text-align: center;
    }

    .section_header { font-weight: bold; border-bottom: 1px solid white; margin: 10px 0; }
</style>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="container">   
        <p>
            Colorado Wildflowers contains photographs and information for over 525 plant species growing east
            of the Continental Divide in Colorado. Species listed in Weber and Wittmann's Colorado Flora: Eastern Slope,
            3rd Edition are included.
        </p>

        <p>
            Colorado wildflower species are listed alphabetically by Scientific names, Common names, or Families. Names are
            those
            used by Weber and/or USDA Plants Database.
        </p>

        <p>
            Elevations listed for individual Colorado wildflower species are from herbarium specimens.
        </p>

        <p>
            Times of flowering are estimates based on references and my own observations. They can vary depending on elevation
            and
            climate.
        </p>

        <p>
            Great effort has been made to correctly identify wildflower species. If you believe a species has been
            misidentified,
            please send an email and I will make corrections. This feedback will strengthen the site as a resource.
        </p>

        <p>
            Photographs may be used for educational purposes. Please credit to
            <a href="http://easterncoloradowildflowers.com" style="color:#00FFFF" >easterncoloradowildflowers.com</a>.
            High resolution photo files of Colorado wildflowers are available. Please contact me for details.
        </p>


        <p>
            Thank you to Sara, Kate and Charlie for their patience during family hikes and for allowing me to dominate our
            computer for several months. Thank you also to my friends and colleagues who have assisted with plant
            identification. And to my parents, whose copy of Eliot Porter's Birds of North America was an inspiration.
        </p>
    </div>
</body>
</html>