<!DOCTYPE html>

<style>
    body {
        color: white;
    }

     #container { margin: 0 -10px; padding: 20px; background-color: rgba(0, 0, 0, 0.75); font-family:sans-serif;}

    h1 {
        font-size: 1em;
    }

    #header {
        text-align: center;
    }

    .section_header {
        font-weight: bold;
        border-bottom: 1px solid white;
        margin: 10px 0;
    }
</style>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="container">
        <p>
            Ackerfield, Jennifer, The Flora of Colorado (draft). 2012.
        </p>
        <hr>
        <p>
            Dorn, Robert D., Vascular Plants of Wyoming, 3rd edition. 2001.
        </p>
        <hr>
        <p>
            <a href="http://flora-id-northwest.com/" style="color:#00FFFF">Flora ID Northwest</a> database plant
            identification tool developed by Bruce Barnes.
        </p>
        <hr>
        <p>
            Gadd, Alix., <a href="http://travertinepress.com/" style="color:#00FFFF">
                Northern Colorado Plants: A
                Field Guide to the Flora of the Northern Front Range Urban Corridor
            </a>.
            2007. Travertine Press.
        </p>
        <hr>
        <p>
            Guennel, G.K., <a href="http://www.amazon.com/s/ref=nb_ss_gw/102-3437770-4700950?url=search-alias=aps&field-keywords=%22guennel%22%2B%22guide%2Bto%2Bcolorado%2Bwildflowers%22&x=11&y=17" style="color:#00FFFF">
                Guide to Colorado Wildflowers
            </a>, Volume 1 (Plains and Foothills) and Volume 2
            (Mountains). 1995.
        </p>
        <hr>
        <p>
            <a href="http://www.swcoloradowildflowers.com/" style="color:#00FFFF">Southwest Colorado Wildflowers</a>
            web page by Al and Betty Schneider
        </p>
        <hr>
        <p>
            USDA Plants Database
        </p>
        <hr>
        <p>
            Weber, William A. and Ronald C. Wittmann, <a href="http://www.amazon.com/Colorado-Flora-Eastern-William-Weber/dp/0870815520/ref=sr_1_1?ie=UTF8&s=books&qid=1200890407&sr=8-1" style="color:#00FFFF">
                Colorado Flora: Eastern Slope, 3rd edition
            </a>. 2001.
        </p>

    </div>
</body>
</html>